<!DOCTYPE html>
<html>
  <head>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <title>Personal_Environment</title>
  </head>
  <body>
    <img src="http://allfitstudios.com/wp-content/uploads/2013/08/aum_om_simbolo_symbol_yoga_namaste_peace_gray_5-1979px.png" style="width:85px;height:85px;">
    <h1> Personal Environment </h1>
    <h3> Weather </h3>  
    <form action= "/results" method= "post">
      <input type="radio" name="weather" value="sunny" ><span class="form-label">Sunny</span> 
    <br>
      <input type="radio" name="weather" value="light_rain"><span class="form-label">Light Rain</span>
    <br>
      <input type="radio" name="weather" value="heavy_rain"><span class="form-label">Heavy Rain</span>
    <br>
    <input type="radio" name="weather" value="rain_thunder"><span class="form-label">Thunder Storm</span>
    <br>
    <input type="submit" value="Submit">
    <br>
  </form> 
    <h3> Environment </h3>
     <form action= "/results" method= "post">
       <input type="radio" name="environment" value="beach" ><span class="form-label">Beach</span> 
    <br>
       <input type="radio" name="" value="river"><span class="form-label">River</span>
    <br>
    <input type="radio" name="weather" value="forest"><span class="form-label">Forest</span>
    <br>
    <input type="radio" name="weather" value="boat"><span class="form-label">Sail Boat</span>
    <br>
    <input type="submit" value="Submit">
    <br>
  </form> 
      <p><p>
      <p><p>
  </body>
<html>