<!DOCTYPE html>
<html>
  <head>
    <style>
     body  {
      background-image: url(<%=@img%>);
}
    </style>
  </head>
  <body>
    <audio controls autoplay loop>
      <source src=<%=@song%> type = "audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <p><p>
    <p><p>
  </body>
<html>